<% if user_signed_in? %>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><%= image_tag "amtedrail-logo", class: "logo-amstedrail" %></li>
        <li>
          <%= link_to "Home", root_path, class: "active" if controller_name == "welcome" %>
          <%= link_to "Home", root_path if controller_name != "welcome" %>
        </li>
        <li>
          <%= link_to "Requisitions", requisitions_path, class: "active" if controller_name == "requisitions"%>
          <%= link_to "Requisitions", requisitions_path if controller_name != "requisitions"%>
        </li>
        <li>
          <%= link_to "Suppliers", suppliers_path, class: "active" if controller_name == "suppliers" %>
          <%= link_to "Suppliers", suppliers_path if controller_name != "suppliers" %>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><%= current_user.email %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
<% elsif supplier_signed_in? %>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><%= image_tag "amtedrail-logo", class: "logo-amstedrail" %></li>
        <li>
          <%= link_to "Home", root_path, class: "active" if controller_name == "welcome" %>
          <%= link_to "Home", root_path if controller_name != "welcome" %>
        </li>
        <li>
          <%= link_to "Requisitions", offers_path, class: "active" if controller_name == "requisitions"%>
          <%= link_to "Requisitions", offers_path if controller_name != "requisitions"%>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><%= current_supplier.name %></li>
        <li><%= link_to "Logout", destroy_supplier_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
<% end %>
