<div class="primary-container">
  <div class="row">
    <div class="columns large-12">
      <h5 class="text-center">Active Requisitions</h5>
    </div>
  </div>

  <div class="row">
    <div class="colums large-10 small-offset-1">
      <% if @active_requisitions.count != 0 %>
        <table  style="background-color:#9CA9AB;">
          <thead>
            <tr>
              <th width="100">Number</th>
              <th width="150">Description</th>
            </tr>
          </thead>
          <tbody>
            <% @active_requisitions.each do |requisition| %>
            <tr>
              <td><%= link_to requisition.number, requisition_path(requisition)  %></td>
              <td><%= requisition.description %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
      <div class="panel container-padding">
        <h3 class="text-center">You not have Active Requisitions</h3>
      </div>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <h5 class="text-center">Pending Requisitions</h5>
  <div class="row">
    <div class="colums large-10 small-offset-1">
      <table style="background-color:#9CA9AB;">
        <thead>
          <tr>
            <th width="100">Number Requisition</th>
            <th width="150">Description</th>
            <th width="15">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @available_requisitions.each do |requisiton| %>
          <tr>
            <td><%= link_to requisiton.number, requisition_path(requisiton) %></td>
            <td><%= requisiton.description %></td>
            <td class="text-center">
              <%= button_to "To Release", set_active_status_requisition_path(requisiton), class: "button small" %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
