<p id="notice"><%= notice %></p>

<h1>All Requisitions</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Create at</th>
      <th>Item</th>
      <th>Material</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Contact person</th>
      <th>Observations</th>
    </tr>
  </thead>

  <tbody>
    <% @requisitions.each do |requisition| %>
      <tr>
        <td><%= link_to requisition.number, requisition_path(requisition) %></td>
        <td><%= requisition.create_at %></td>
        <td><%= requisition.item %></td>
        <td><%= requisition.material %></td>
        <td><%= requisition.description %></td>
        <td><%= requisition.quantity %></td>
        <td><%= requisition.unit %></td>
        <td><%= requisition.contact_person %></td>
        <td><%= requisition.observations %></td>
      </tr>
    <% end %>
  </tbody>
</table>
