<div class="primary-container">
<p id="notice"><%= notice %></p>

<h4>All Requisitions</h4>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Number</th>
      <th>Create at</th>
      <th>Item</th>
      <th>Material</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Contact person</th>
      <th>Observations</th>
    </tr>
  </thead>

  <tbody>
    <% @requisitions.each do |requisition| %>
      <tr>
        <td>
          <% if requisition.active %>
            <i class="fi-play icon-medium" style="color: blue;"></i>
          <% elsif requisition.pending %>
            <i class="fi-shopping-cart icon-medium" style="color: orange;"></i>
          <% elsif requisition.complete %>
            <i class="fi-check icon-medium" style="color: green;"></i>
          <% else %>
            <i class="fi-stop icon-medium" style="color: grey;"></i>
          <% end %>
        </td>
        <td><%= link_to requisition.number, requisition_path(requisition) %></td>
        <td><%= requisition.create_at %></td>
        <td><%= requisition.item %></td>
        <td><%= requisition.material %></td>
        <td><%= requisition.description %></td>
        <td><%= requisition.quantity %></td>
        <td><%= requisition.unit %></td>
        <td><%= requisition.contact_person %></td>
        <td><%= requisition.observations %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
