<div class="primary-container">
  <div class="row">
    <div class="colums large-12">
      <h6>Requisition</h6>
      <table class="unstriped" style="background-color:#9CA9AB;" >
        <thead>
          <tr>
            <th width="100">Number</th>
            <th width="150">Date</th>
            <th width="150">Item</th>
            <th width="150">Material</th>
            <th width="150">Description</th>
            <th width="150">Quantity</th>
            <th width="150">Unit</th>
            <th width="150">Contact Person</th>
            <th width="150">Observations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @requisition.number %></td>
            <td><%= @requisition.create_at %></td>
            <td><%= @requisition.item %></td>
            <td><%= @requisition.material %></td>
            <td><%= @requisition.description %></td>
            <td><%= @requisition.quantity %></td>
            <td><%= @requisition.unit %></td>
            <td><%= @requisition.contact_person %></td>
            <td><%= @requisition.observations %> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="colums large-10 small-offset-1">
      <h6>Selected supplier</h6>
      <table>
        <thead class="thead-black">
          <tr>
            <th width="100">Number</th>
            <th width="150">Name</th>
            <th width="150">City</th>
            <th width="150">Phone</th>
            <th width="150">Email</th>
            <th width="150">Category</th>
            <th width="150">Contact Person</th>
          </tr>
        </thead>
        <tbody>
          <% if !@selected_offer.nil? %>
            <tr>
              <td> <%= @selected_offer.supplier.number %></td>
              <td> <%= @selected_offer.unit_pricing%></td>
              <td> <%= @selected_offer.delivery_days%></td>
              <td> <%= @selected_offer.validity%></td>
              <td> <%= @selected_offer.credit_days%></td>
              <td> <%= @selected_offer.observations%></td>
              <td class="text-center"><a class="button" href="#">PDF</a></td>
            </tr>
          <% else %>
            <tr>
              <td colspan="7">
                <h3 class="text-center">Has not yet selected offer</h3>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="columns small-10 small-offset-1">
      <div class="row align-justify">
        <div class="colums large-2">
          <h6>Suppliers Offers</h6>
        </div>
        <div class="colums large-2 text-right">
          <a class="button small" href='<%= "#{ requisition_url(@requisition) }.pdf" %>'>General Report</a>
        </div>
      </div>
      <div class="row">
        <div class="colums medium-12">
          <table style="background-color:#9CA9AB;" >
            <thead class="thead-black">
              <tr>
                <th width="50px">Number</th>
                <th width="85">Unit pricing</th>
                <th width="40">Delivery</th>
                <th width="60">Validity</th>
                <th width="50">Credit</th>
                <th width="150">Observations</th>
                <th width="15">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% supplier_number = nil %>
              <% @requisition.offers.each do |offer| %>
              <tr>
                <% if offer.supplier.number != supplier_number %>
                  <td> <strong><%= offer.supplier.number %></strong><%=  %></td>
                  <% supplier_number = offer.supplier.number %>
                <% else %>
                  <td></td>
                <% end %>
                <td> $ <%= offer.unit_pricing%>0</td>
                <td> <%= offer.delivery_days%> days</td>
                <td> <%= offer.validity%></td>
                <td> <%= offer.credit_days%> days</td>
                <td> <%= offer.observations%></td>
                <td class="text-center">
                  <a class="button" href="#">PDF</a>
                  <a class="button" href="#">Get for this Offer</a>
                </td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
