<div class="primary-container">
  <div class="row">
    <div class="colums large-12">
      <h6>Requisition</h6>
      <table class="unstriped" style="background-color:#9CA9AB;" >
        <thead>
          <tr>
            <th width="100">Number</th>
            <th width="150">Date</th>
            <th width="150">Item</th>
            <th width="150">Material</th>
            <th width="150">Description</th>
            <th width="150">Quantity</th>
            <th width="150">Unit</th>
            <th width="150">Contact Person</th>
            <th width="150">Observations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @requisition.number %></td>
            <td><%= @requisition.create_at %></td>
            <td><%= @requisition.item %></td>
            <td><%= @requisition.material %></td>
            <td><%= @requisition.description %></td>
            <td><%= @requisition.quantity %></td>
            <td><%= @requisition.unit %></td>
            <td><%= @requisition.contact_person %></td>
            <td><%= @requisition.observations %> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="colums large-8 small-offset-2">
      <h6>Selected supplier</h6>
      <table>
        <thead>
          <tr>
            <th width="100">Number Suplier</th>
            <th width="150">Name</th>
            <th width="150">City</th>
            <th width="150">Phone</th>
            <th width="150">Email</th>
            <th width="150">Category</th>
            <th width="150">Contact Person</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>creo nos falta este numero porque es el que jala del SAP</td>
            <td>SEPA</td>
            <td>México</td>
            <td>5513489245</td>
            <td>prueba@prueba</td>
            <td>Quimicos</td>
            <td>Adrian</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="colums large-2 small-offset-1">
      <h6>Offer</h6>
    </div>
    <div class="colums large-2 small-offset-9">
      <a class="button" href="http://localhost:3000/requisitions/1.pdf">General Report</a>
    </div>
    <div class="row">
      <div class="colums large-10 small-offset-1">
        <table style="background-color:#9CA9AB;" >
          <thead>
            <tr>
              <th width="100">Number supplier</th>
              <th width="100">Unit pricing</th>
              <th width="150">Delivery days</th>
              <th width="150">Validity</th>
              <th width="150">Credit days</th>
              <th width="150">Observations</th>
              <th width="15">Actions</th>
            </tr>
          </thead>
          <tbody>
            <%= @requisition.offers.each do |offer|%>
            <tr>
              <td> <%= offer.supplier.number %></td>
              <td> <%= offer.unit_pricing%></td>
              <td> <%= offer.delivery_days%></td>
              <td> <%= offer.validity%></td>
              <td> <%= offer.credit_days%></td>
              <td> <%= offer.observations%></td>
              <td class="text-center"><a class="button" href="#">PDF</a></td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
