<div class="primary-container">
  <div class="row">
    <div class="colums large-12">
      <h6 class="text-center">Requisition Info</h6>
      <table class="unstriped" style="background-color:#9CA9AB;" >
        <thead>
          <tr>
            <th width="100">Number</th>
            <th width="150">Date</th>
            <th width="150">Item</th>
            <th width="150">Material</th>
            <th width="150">Description</th>
            <th width="150">Quantity</th>
            <th width="150">Unit</th>
            <th width="150">Contact Person</th>
            <th width="150">Observations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @requisition.number %></td>
            <td><%= @requisition.create_at %></td>
            <td><%= @requisition.item %></td>
            <td><%= @requisition.material %></td>
            <td><%= @requisition.description %></td>
            <td><%= @requisition.quantity %></td>
            <td><%= @requisition.unit %></td>
            <td><%= @requisition.contact_person %></td>
            <td><%= @requisition.observations %> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="column small-12">
      <div class="row align-spaced">
        <div class="colums">
          <h6>My offers</h6>
        </div>
        <div class="colums end">
          <a class="button" href="#">General Report</a>
        </div>
      </div>
    </div>
    <div class="column small-12">
      <div class="colums large-10 small-offset-1">
        <table style="background-color:#9CA9AB;" >
          <thead>
            <tr>
              <th>Number supplier</th>
              <th>Unit pricing</th>
              <th>Delivery days</th>
              <th>Validity</th>
              <th>Credit days</th>
              <th>Recommended</th>
              <th>Observations</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if !@requisition_clean.offers.blank? %>
              <% @requisition_clean.offers.each do |offer| %>
                <tr>
                  <td>?????</td>
                  <td><%= offer.unit_pricing %></td>
                  <td><%= offer.delivery_days %></td>
                  <td><%= offer.validity %></td>
                  <td><%= offer.credit_days %></td>
                  <td><%= offer.recommended %></td>
                  <td><%= offer.observations %></td>
                  <td class="text-center"><a class="button" href="#">PDF</a></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="8">
                  <h2 class="text-center">Aun no has offertado</h2>
                </td>
              </tr>

            <% end %>
            <tr>
              <td colspan="8">


                <%= form_for [@requisition, @offer] do |f| %>
                <% if @offer.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

                  <ul>
                    <% @offer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
                <% end %>


                <div class="row">
                  <div class="column medium-2 align-self-bottom">
                    <div class="field">
                      <%= f.label :unit_pricing %>
                      <%= f.text_field :unit_pricing %>
                    </div>
                  </div>

                  <div class="column medium-2 align-self-bottom">
                    <div class="field">
                      <%= f.label :delivery_days %>
                      <%= f.number_field :delivery_days %>
                    </div>
                  </div>

                  <div class="column medium-2 align-self-bottom">
                    <div class="field">
                      <%= f.label :validity %>
                      <%= f.text_field :validity, class: "datepicker" %>
                    </div>
                  </div>
                  <div class="column medium-2 align-self-bottom">
                    <div class="field">
                      <%= f.label :credit_days %>
                      <%= f.number_field :credit_days %>
                    </div>
                  </div>

                  <div class="column medium-3 align-self-bottom">
                    <div class="field">
                      <%= f.check_box :recommended %>
                      <%= f.label :recommended %>
                    </div>
                  </div>

                  <div class="column medium-10 align-self-bottom">
                    <div class="field">
                      <%= f.label :observations %>
                      <%= f.text_field :observations %>
                    </div>
                  </div>

                  <div class="column meidum-2 align-self-middle">
                    <div class="actions">
                      <%= f.submit "Offer", class: "button  expanded" %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
