<div class="primary-container">
  <div class="row">
    <div class="colums large-12">
      <h6 class="text-center">Requisition Info</h6>
      <table class="unstriped" style="background-color:#9CA9AB;" >
        <thead class="thead-black">
          <tr>
            <th width="100">Number</th>
            <th width="100">Date</th>
            <th width="60">Item</th>
            <th width="100">Material</th>
            <th width="150">Description</th>
            <th width="80">Quantity</th>
            <th width="60">Unit</th>
            <th>Contact Person</th>
            <th>Observations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @requisition.number %></td>
            <td><%= @requisition.create_at %></td>
            <td><%= @requisition.item %></td>
            <td><%= @requisition.material %></td>
            <td><%= @requisition.description %></td>
            <td><%= @requisition.quantity %></td>
            <td><%= @requisition.unit %></td>
            <td><%= @requisition.contact_person %></td>
            <td><%= @requisition.observations %> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="column small-12">
      <div class="row align-justify">
        <div class="colums">
          <h4>My offers</h4>
        </div>
      </div>
    </div>
    <div class="column small-12">
      <div class="colums large-12">
        <table>
          <thead class="thead-black">
            <tr>
              <th width="50">Best</th>
              <th width="100">Unit price</th>
              <th width="100">Delivery</th>
              <th width="150">Validity</th>
              <th width="100">Credit</th>
              <th>Observations</th>
            </tr>
          </thead>
          <tbody>
            <% if !@supplier_offers.nil? %>
              <% @supplier_offers.each do |offer| %>
                <tr>
                  <td class="text-center">
                    <% if offer.recommended %>
                      <i class="fi-star icon-medium fav-enable"></i>
                    <% else %>
                      <%= link_to "<i class='fi-star icon-medium fav-disable'></i>".html_safe, set_as_recommended_requisition_offer_path(@requisition, offer) %>
                    <% end %>
                  </td>
                  <td><%= offer.unit_pricing %></td>
                  <td><%= offer.delivery_days %> days</td>
                  <td><%= offer.validity %></td>
                  <td><%= offer.credit_days %> days</td>
                  <td><%= offer.observations %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="8">
                  <h2 class="text-center">Aun no has offertado</h2>
                </td>
              </tr>

            <% end %>
            <tr>
              <td colspan="8" class="td-form">

                <%= form_for [@requisition, @offer] do |f| %>
                <% if @offer.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

                  <ul>
                    <% @offer.errors.full_messages.each do |message| %>
                    <div class="be-red white top_space">
                      <%= message %>
                    </div>

                    <% end %>
                  </ul>
                </div>
                <% end %>

                <div class="row">
                  <div class="column medium-2 align-self-bottom">
                    <div class="field">
                      <%= f.label :unit_pricing %>
                      <%= f.text_field :unit_pricing %>
                    </div>
                  </div>

                  <div class="column medium-1 align-self-bottom">
                    <div class="field">
                      <%= f.label :delivery_days %>
                      <%= f.number_field :delivery_days %>
                    </div>
                  </div>

                  <div class="column medium-2 align-self-bottom">
                    <div class="field">
                      <%= f.label :validity %>
                      <%= f.text_field :validity, class: "datepicker" %>
                    </div>
                  </div>
                  <!-- <div class="column medium-1 align-self-bottom">
                    <div class="field">
                      <%# f.label :credit_days %>
                      <%# f.number_field :credit_days %>
                    </div>
                  </div> -->

                  <div class="column medium-7 align-self-bottom">
                    <div class="field">
                      <%= f.label :observations %>
                      <%= f.text_field :observations %>
                    </div>
                  </div>

                  <div class="column meidum-12 text-right">
                    <div class="actions">
                      <%= f.submit "Add Offer", class: "button primary" %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
