<div class="primary-container">

<h4>Suppliers</h4>

<div class="table-scroll">
<table>
  <thead class="thead-black">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Postal code</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Category</th>
      <th>Contact</th>
      <th>Observations</th>
      <th>Bank</th>
      <th>Account number</th>
      <th>Number branch bank</th>
      <th>Region</th>
      <th>Last tax declaration</th>
      <th>Rfc</th>
      <th>Account status</th>
      <th>Constitutive act</th>
      <th>Policies</th>

    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td>
          <% if supplier.data_validation %>
            <%= link_to '<i class="fi-sheriff-badge icon-medium" style="color: #E75244"></i>'.html_safe, supplier %>
          <% else %> 
            <%= link_to '<i class="fi-check icon-medium" style="color: #32C500"></i>'.html_safe, supplier %>
          <% end %>
          
        </td>
        <td><%= supplier.name %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.city %></td>
        <td><%= supplier.country %></td>
        <td><%= supplier.postal_code %></td>
        <td><%= supplier.phone %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.category %></td>
        <td><%= supplier.contact %></td>
        <td><%= supplier.observations %></td>
        <td><%= supplier.bank %></td>
        <td><%= supplier.account_number %></td>
        <td><%= supplier.number_branch_bank %></td>
        <td><%= supplier.region %></td>
        <td><%= supplier.last_tax_declaration %></td>
        <td><%= supplier.rfc %></td>
        <td><%= supplier.account_status %></td>
        <td><%= supplier.constitutive_act %></td>
        <td><%= supplier.policies %></td>


      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
</div>
