<div class="row">
  <div class="column small-12">
    <h1>My information</h1>
    <p>
      <strong>Name:</strong>
      <%= current_supplier.name %>
    </p>

    <div class="column small-12">
      <div class="row">
        <div class="column small-6">
          <p>
            <strong>Address:</strong>
            <%= current_supplier.address %>
          </p>
        </div>
        <div class="column small-3">
          <p>
            <strong>City:</strong>
            <%= current_supplier.city %>
          </p>
        </div>
        <div class="column small3">
          <p>
            <strong>Country:</strong>
            <%= current_supplier.country %>
          </p>
        </div>
      </div>
    </div>

    <div class="column small-12">
      <div class="row">
        <div class="column small-4">
          <p>
            <strong>Postal code:</strong>
            <%= current_supplier.postal_code %>
          </p>
        </div>
        <div class="column small-4">
          <p>
            <strong>Phone:</strong>
            <%= current_supplier.phone %>
          </p>
        </div>
        <div class="column small-4">
          <p>
            <strong>Email:</strong>
            <%= current_supplier.email %>
          </p>
        </div>
      </div>
    </div>





    <p>
      <strong>Category:</strong>
      <%= current_supplier.category %>
    </p>

    <p>
      <strong>Contact:</strong>
      <%= current_supplier.contact %>
    </p>

    <p>
      <strong>Observations:</strong>
      <%= current_supplier.observations %>
    </p>
    <div class="row">
      <div class="column small-3">
        <p>
          <strong>Bank:</strong>
          <%= current_supplier.bank %>
        </p>
      </div>
      <div class="column small-3">
        <p>
          <strong>Account number:</strong>
          <%= current_supplier.account_number %>
        </p>
      </div>
      <div class="column small-3">
        <p>
          <strong>Number branch bank:</strong>
          <%= current_supplier.number_branch_bank %>
        </p>
      </div>
      <div class="column small-3">
        <p>
          <strong>Region:</strong>
          <%= current_supplier.region %>
        </p>
      </div>
    </div>

    <p>
      <strong>Last tax declaration:</strong>
      <%= link_to "<i class='fi-page-export icon-medium'></i>#{current_supplier.last_tax_declaration.file.filename}".html_safe, "#{current_supplier.last_tax_declaration.url}" %>
    </p>

    <p>
      <strong>Rfc:</strong>
      <%= link_to "<i class='fi-page-export icon-medium'></i>#{current_supplier.rfc.file.filename}".html_safe, "#{current_supplier.rfc.url}" %>
    </p>

    <p>
      <strong>Account status:</strong>
      <%= link_to "<i class='fi-page-export icon-medium'></i>#{current_supplier.account_status.file.filename}".html_safe, "#{current_supplier.account_status.url}" %>
    </p>

    <p>
      <strong>Constitutive act:</strong>
      <%= link_to "<i class='fi-page-export icon-medium'></i>#{current_supplier.constitutive_act.file.filename}".html_safe, "#{current_supplier.constitutive_act.url}" %>
    </p>

    <p>
      <strong>Policies:</strong>
      <%= link_to "<i class='fi-page-export icon-medium'></i>#{current_supplier.policies.file.filename}".html_safe, "#{current_supplier.policies.url}" %>
    </p>
    <div class="column-small-12 text-right">
      <%= link_to 'Edit Info', edit_supplier_path(current_supplier), class: "button large primary" %>
    </div>
  </div>
</div>
