<div class="row">
  <div class="colums large-12">
<br>
  <h6>Requisition</h6>
    <table class="hover" class="unstriped" style="background-color:#C7C9A2;" >
      <thead>
        <tr>
          <th width="100">Number Requisition</th>
          <th width="150">Date</th>
          <th width="150">Item</th>
          <th width="150">Material</th>
          <th width="150">Description</th>
          <th width="150">Quantity</th>
          <th width="150">Unit</th>
          <th width="150">Contact Person</th>
          <th width="150">Observations</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>123456789</td>
          <td>2017/02/11</td>
          <td>20</td>
          <td>234534</td>
          <td>Elementos quimicos para tratamiento de materiales</td>
          <td>12</td>
          <td>UA</td>
          <td>Adrian</td>
          <td> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="row">
  <div class="colums large-8 small-offset-2">
<br>
    <h6>Selected supplier</h6>
    <table style="background-color:#C7C9A2;" class="hover">
      <thead>
        <tr>
          <th width="100">Number Suplier</th>
          <th width="150">Name</th>
          <th width="150">City</th>
          <th width="150">Phone</th>
          <th width="150">Email</th>
          <th width="150">Category</th>
          <th width="150">Contact Person</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>creo nos falta este numero porque es el que jala del SAP</td>
          <td>SEPA</td>
          <td>México</td>
          <td>5513489245</td>
          <td>prueba@prueba</td>
          <td>Quimicos</td>
          <td>Adrian</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>
<div class="row">
  <div class="colums large-2 small-offset-1">
    <h6>Offer</h6>
  </div>
  <div class="colums large-2 small-offset-9">
    <a class="button" href="#">General Report</a>
  </div>
<div class="row">
  <div class="colums large-10 small-offset-1">
    <table style="background-color:#C7C9A2;" class="hover tabla">
      <thead>
        <tr>
          <th width="100">Number supplier</th>
          <th width="100">Unit pricing</th>
          <th width="150">Delivery days</th>
          <th width="150">Validity</th>
          <th width="150">Credit days</th>
          <th width="150">Observations</th>
          <th width="15">Actions</th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td>creo que no hicimos la relacion</td>
        <td>500</td>
        <td>5</td>
        <td>2017/08/02</td>
        <td>30</td>
        <td>todo el material en existencia</td>
        <td class="text-center"><a class="button" href="#">PDF</a></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>creo que no hicimos la relacion</td>
        <td>501</td>
        <td>10</td>
        <td>2017/08/02</td>
        <td>0</td>
        <td>todo el material en existencia</td>
        <td class="text-center"><a class="button" href="#">PDF</a></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>creo que no hicimos la relacion</td>
        <td>490</td>
        <td>15</td>
        <td>2017/08/02</td>
        <td>15</td>
        <td>todo el material en existencia</td>
        <td class="text-center"><a class="button" href="#">PDF</a></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>creo que no hicimos la relacion</td>
        <td>450</td>
        <td>30</td>
        <td>2017/08/02</td>
        <td>0</td>
        <td>todo el material en existencia</td>
        <td class="text-center"><a class="button" href="#">PDF</a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @supplier.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @supplier.country %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @supplier.postal_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @supplier.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @supplier.category %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @supplier.contact %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @supplier.observations %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @supplier.bank %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @supplier.account_number %>
</p>

<p>
  <strong>Number branch bank:</strong>
  <%= @supplier.number_branch_bank %>
</p>

<p>
  <strong>Region:</strong>
  <%= @supplier.region %>
</p>

<p>
  <strong>Last tax declaration:</strong>
  <%= @supplier.last_tax_declaration %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @supplier.rfc %>
</p>

<p>
  <strong>Account status:</strong>
  <%= @supplier.account_status %>
</p>

<p>
  <strong>Constitutive act:</strong>
  <%= @supplier.constitutive_act %>
</p>

<p>
  <strong>Policies:</strong>
  <%= @supplier.policies %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
