<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @supplier.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @supplier.country %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @supplier.postal_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @supplier.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @supplier.category %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @supplier.contact %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @supplier.observations %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @supplier.bank %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @supplier.account_number %>
</p>

<p>
  <strong>Number branch bank:</strong>
  <%= @supplier.number_branch_bank %>
</p>

<p>
  <strong>Region:</strong>
  <%= @supplier.region %>
</p>

<p>
  <strong>Last tax declaration:</strong>
  <%= @supplier.last_tax_declaration %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @supplier.rfc %>
</p>

<p>
  <strong>Account status:</strong>
  <%= @supplier.account_status %>
</p>

<p>
  <strong>Constitutive act:</strong>
  <%= @supplier.constitutive_act %>
</p>

<p>
  <strong>Policies:</strong>
  <%= @supplier.policies %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
