<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed" rel="stylesheet">
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% elsif alert %>
      <p id="alert"><%= alert %></p>
    <% end %>

    <% if user_signed_in? || supplier_signed_in? %>
      <%= render 'partials/menu' %>
    <% end %>
    <%= yield %>

  </body>
</html>
