<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "PPCompras" %></title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <% if notice %>
    <div class=" success small callout flashmessage" data-closable>
      <button class="close-button" data-close>&times;</button>
      <p id="notice" class="text-center"><%= notice %></p>
    </div>
    <% elsif alert %>
    <div class=" warning small callout flashmessage" data-closable>
      <button class="close-button" data-close>&times;</button>
      <p id="alert" class="text-center"><%= alert %></p>
    </div>
    <% end %>

    <% if user_signed_in? || supplier_signed_in? %>
      <%= render 'partials/menu' %>
    <% end %>
    <%= yield %>

  </body>
</html>
